.link:link, .link:visited {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  transition: all 0.3s; }

.nav-container, .nav-list, .hero-section {
  display: flex;
  align-items: center;
  justify-content: center; }

:root {
  --max-width: 180rem;
  --color-primary: #e52a5a;
  --color-primary-light-1: #fad4de;
  --color-primary-light-2: #ef7f9c;
  --color-primary-light-3: #ed6a8c;
  --color-primary-dark-1: #2e0812;
  --color-primary-dark-2: #a01d3f;
  --color-primary-dark-3: #ce2651;
  --color-black-1: #0a0a0a;
  --color-black-2: #171717;
  --color-black-3: #262626;
  --color-white-1: #fff;
  --color-white-2: #d4d4d4;
  --color-white-3: #a8a29e;
  --font-family: "M PLUS 1 Code", monospace; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  overflow: hidden;
  font-family: var(--font-family);
  font-size: 1.6rem;
  color: var(--color-black-3);
  background-color: #fff;
  line-height: 1;
  font-weight: 400;
  scroll-behavior: smooth; }

.heading-primary {
  font-size: 10.8rem;
  color: transparent;
  background-image: linear-gradient(90deg, var(--color-primary) 0, var(--color-primary) 50%, var(--color-primary-light-1) 50%, var(--color-primary-light-1) 50.5%, transparent 50.5%, transparent 100%);
  padding: 1.6rem 1.8rem;
  background-clip: text;
  background-size: 220%;
  background-position: 0; }

.text {
  color: inherit; }
  .text-v-big-light {
    font-size: 10.4rem;
    font-weight: 300; }
  .text-v-mid-light {
    font-size: 7.4rem;
    font-weight: 300; }
  .text-big {
    font-size: 4.6rem; }
  .text-mid {
    font-size: 3.6rem;
    line-height: 1.6; }
  .text-sml {
    font-size: 2.4rem;
    line-height: 1.5; }

.container {
  max-width: var(--max-width-site);
  margin: 0 auto; }

.list {
  list-style: none; }

.margin-bottom-v-big {
  margin-bottom: 12.4rem; }

.margin-bottom-big-1 {
  margin-bottom: 10.4rem; }

.margin-bottom-big-2 {
  margin-bottom: 9.4rem; }

.margin-bottom-big-3 {
  margin-bottom: 8.4rem; }

.margin-bottom-mid-1 {
  margin-bottom: 7.2rem; }

.margin-bottom-mid-2 {
  margin-bottom: 6.2rem; }

.margin-bottom-mid-3 {
  margin-bottom: 5.2rem; }

.margin-bottom-mid-4 {
  margin-bottom: 4.6rem; }

.margin-bottom-sml-1 {
  margin-bottom: 3.6rem; }

.margin-bottom-sml-2 {
  margin-bottom: 2.4rem; }

.margin-bottom-sml-1 {
  margin-bottom: 1.6rem; }

.icon-big {
  font-size: 5.4rem;
  font-weight: 300; }

.icon-mid-bg {
  width: 8.4rem;
  border-radius: 50%;
  position: relative;
  background-color: var(--color-primary-light-1);
  padding: 1.4rem; }

@keyframes appear-in {
  0% {
    opacity: 0;
    transform: translateY(-6.4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.appear-in {
  animation: appear-in 0.6s; }

@keyframes opac-in {
  0% {
    filter: blur(5px); }
  100% {
    filter: blur(0); } }

.opac-in {
  animation: opac-in 0.6s; }

@keyframes move-down {
  0% {
    opacity: 0;
    transform: translateY(-6.4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.move-down {
  animation: move-down 0.4s 0.6s backwards; }

@keyframes slide-in-bg {
  0% {
    background-position: 100%; }
  100% {
    background-position: 0; } }

.slide-in-bg {
  animation: slide-in-bg 1.6s 1s backwards; }

@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(3.4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.move-up {
  animation: move-up 0.6s 2s backwards; }

.link:hover, .link:active {
  color: var(--color-primary); }

.link-main:link, .link-main:visited {
  border-radius: 0.4rem;
  padding: 1.6rem 2.4rem;
  color: var(--color-white-1);
  background-color: var(--color-primary);
  color: var(--color-primary-light-1); }

.link-main:hover, .link-main:active {
  color: var(--color-white-1); }

.nav {
  width: 100vw;
  padding: 4.2rem 6.4rem;
  height: 15vh; }
  .nav-container {
    justify-content: space-between; }
  .nav-logo-box {
    display: flex !important;
    align-items: center;
    gap: 0.8rem; }
  .nav-logo-img {
    width: 8rem; }
  .nav-list {
    gap: 4.2rem; }

.hero-section {
  flex-direction: column;
  padding: 8% 0;
  height: 85vh; }

.hero-img {
  width: 25%; }

.about-section {
  padding: 12.4rem 16.4rem;
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-dark-3));
  color: var(--color-primary-light-1); }

.tech-icon-box {
  display: flex;
  align-items: center;
  gap: 2.4rem; }

.project-section {
  padding: 12.4rem 16.4rem; }
