.nav-list {
  list-style: none; }

.link:link, .link:visited {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-size: var(--size-sml-1);
  font-weight: 500; }

.flex-center, .nav, .nav-list {
  display: flex;
  align-items: center;
  justify-content: center; }

:root {
  --color-primary: #339af0;
  --color-primary-light-1: #e7f5ff;
  --color-primary-light-2: #a5d8ff;
  --color-primary-light-3: #74c0fc;
  --color-primary-dark-1: #1864ab;
  --color-primary-dark-2: #1c7ed6;
  --color-primary-dark-3: #228be6;
  --color-black-1: #0a0a0a;
  --color-black-2: #171717;
  --color-black-3: #262626;
  --color-white-1: #fafafa;
  --color-white-2: #d4d4d4;
  --color-white-3: #a8a29e;
  --font-family: "Poppins", sans-serif;
  --size-big-1: 9rem;
  --size-big-2: 6.4rem;
  --size-big-3: 4.8rem;
  --size-mid-1: 3.4rem;
  --size-mid-2: 2.4rem;
  --size-mid-3: 2rem;
  --size-sml-1: 1.65rem;
  --size-sml-2: 1.45rem;
  --size-sml-3: 1.35rem;
  --size-v-sml-1: 0.8rem;
  --size-v-sml-2: 0.4rem;
  --size-v-sml-3: 0.2rem; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sml-1);
  color: var(--color-black-3);
  line-height: 1;
  font-weight: 400; }

.main-container {
  max-width: 180rem;
  margin: 0 auto; }

.heading-primary {
  text-align: center;
  display: inline-block;
  font-size: var(--size-big-1);
  font-weight: 400;
  color: inherit;
  letter-spacing: 0.4rem;
  transition: all 0.3s; }
  .heading-primary span {
    display: inline-block;
    padding: 0.3rem 1rem;
    transform: skew(-20deg);
    background-image: linear-gradient(to right bottom, var(--color-primary-light-2), var(--color-primary)); }
  .heading-primary span:first-child {
    margin-bottom: 0.4rem; }
    .heading-primary span:first-child::after {
      content: "Tejasva";
      display: inline-block;
      transform: skew(20deg);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      padding: 0.8rem 0.4rem; }
  .heading-primary span:last-child::after {
    content: "Khandelwal";
    display: inline-block;
    transform: skew(20deg);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 0.8rem 0.4rem; }

.heading-secondary {
  font-size: var(--size-big-2);
  font-weight: 400;
  color: inherit; }

.heading-tertiary {
  font-size: var(--size-big-3);
  font-weight: 400; }

.text-big {
  font-size: var(--size-mid-1);
  font-weight: 500; }

.text-normal {
  font-size: var(--size-mid-3); }

.text-sml {
  font-size: var(--size-sml-2); }

.text-upper {
  text-transform: uppercase;
  letter-spacing: 0.4rem; }

.margin-bottom-sml-1 {
  margin-bottom: var(--size-sml-1); }

.margin-bottom-sml-2 {
  margin-bottom: var(--size-sml-2); }

.margin-bottom-sml-3 {
  margin-bottom: var(--size-sml-3); }

.margin-bottom-mid-1 {
  margin-bottom: var(--size-mid-1); }

.margin-bottom-mid-2 {
  margin-bottom: var(--size-mid-2); }

.margin-bottom-mid-3 {
  margin-bottom: var(--size-mid-3); }

.margin-bottom-big-1 {
  margin-bottom: var(--size-big-1); }

.margin-bottom-big-2 {
  margin-bottom: var(--size-big-2); }

.margin-bottom-big-3 {
  margin-bottom: var(--size-big-3); }

.flex-center {
  gap: var(--size-v-sml-2); }

.text-center {
  text-align: center; }

.link:link, .link:visited {
  transition: all 0.3s;
  letter-spacing: 0.2rem;
  font-weight: 500; }

.link-main {
  text-transform: uppercase; }
  .link-main:hover, x .link-main:active {
    color: var(--color-primary); }

.link-highlight {
  text-transform: uppercase;
  padding: 1.4rem 1.6rem;
  background-color: var(--color-primary);
  border-radius: 0.3rem;
  color: var(--color-white-1) !important; }
  .link-highlight:hover, .link-highlight:active {
    background-color: transparent;
    color: var(--color-primary) !important;
    box-shadow: inset 0 0 0 0.15rem var(--color-primary); }

.nav {
  justify-content: space-between;
  padding: 2.8rem 6.4rem; }
  .nav-wrapper {
    z-index: 9999;
    width: 100%; }
  .nav-logo {
    height: 5.2rem; }
  .nav-list {
    gap: 3.2rem; }

.custom-shape-divider-bottom-1708193708 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-bottom-1708193708 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 130px; }

.custom-shape-divider-bottom-1708193708 .shape-fill {
  fill: #339af0; }

.hero-section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.hero-text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%); }

.section-about {
  height: 40vh;
  background-color: var(--color-primary);
  width: 100%;
  color: var(--color-white-1);
  padding: 6.4rem 12.4rem; }
