.link:link, .link:visited {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit; }

.nav-container, .nav-list, .hero-section {
  display: flex;
  align-items: center;
  justify-content: center; }

:root {
  --max-width: 180rem;
  --color-primary: #e52a5a;
  --color-primary-light-1: #fceaef;
  --color-primary-light-2: #ef7f9c;
  --color-primary-light-3: #ed6a8c;
  --color-primary-dark-1: #2e0812;
  --color-primary-dark-2: #a01d3f;
  --color-primary-dark-3: #ce2651;
  --color-black-1: #0a0a0a;
  --color-black-2: #171717;
  --color-black-3: #262626;
  --color-white-1: #fafafa;
  --color-white-2: #d4d4d4;
  --color-white-3: #a8a29e;
  --font-family: "M PLUS 1 Code", monospace; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  color: var(--color-black-3);
  line-height: 1;
  font-weight: 400;
  scroll-behavior: smooth; }

.heading-primary {
  font-size: 10.8rem;
  color: transparent;
  background-image: linear-gradient(90deg, var(--color-primary) 0, var(--color-primary) 50%, var(--color-primary-light-1) 50%, var(--color-primary-light-1) 50.5%, transparent 50.5%, transparent 100%);
  padding: 1.6rem 1.8rem;
  background-clip: text;
  background-size: 220%;
  background-position: 0; }

.text {
  color: inherit; }
  .text-big {
    font-size: 4.6rem; }
  .text-mid {
    font-size: 3.6rem; }
  .text-sml {
    font-size: 2.4rem; }

.container {
  max-width: var(--max-width-site);
  margin: 0 auto; }

.list {
  list-style: none; }

.margin-bottom-v-big {
  margin-bottom: 10.2rem; }

.margin-bottom-big {
  margin-bottom: 3.4rem; }

.margin-bottom-big-mid {
  margin-bottom: 3.4rem; }

.margin-bottom-mid {
  margin-bottom: 2.4rem; }

.icon-big {
  font-size: 5.4rem;
  font-weight: 300; }

@keyframes move-down {
  0% {
    opacity: 0;
    transform: translateY(-6.4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.move-down {
  animation: move-down 0.4s; }

@keyframes slide-in-bg {
  0% {
    background-position: 100%; }
  100% {
    background-position: 0; } }

.slide-in-bg {
  animation: slide-in-bg 1.6s 0.4s backwards; }

@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(3.4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.move-up {
  animation: move-up 0.6s 1.6s backwards; }

@keyframes move-up-down {
  0% {
    opacity: 0;
    transform: translateY(0rem); }
  1% {
    opacity: 1; }
  30% {
    transform: translateY(3.4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.move-up-down {
  animation: move-up-down 1.2s 2.4s infinite backwards linear; }

.link-main:link, .link-main:visited {
  padding: 1.6rem 2.4rem;
  color: var(--color-white-1);
  background-color: var(--color-primary); }

.nav {
  width: 100vw;
  padding: 4.2rem 6.4rem;
  height: 15vh; }
  .nav-container {
    justify-content: space-between; }
  .nav-logo-box {
    display: flex !important;
    align-items: center;
    gap: 0.8rem; }
  .nav-logo-img {
    width: 8rem; }
  .nav-list {
    gap: 4.2rem; }

.hero-section {
  flex-direction: column;
  padding-top: 8%;
  height: 85vh; }
