/* colors: #FFC903, #FE555E, #98E05E, #f1f3f5, #444444 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #495057;
}

.center-container {
  width: 80%;
  margin: 0 auto;
  padding: 1.2rem 2.4rem;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn:link,
.btn:visited {
  background-image: linear-gradient(-120deg, #fe555e, #fe777e);
  transition: all 1s;
  padding: 1.4rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #212529;
  border-bottom: 4px solid #fff;
  transition: background-color 3s;
}

.btn:hover,
.btn:active {
  background-image: linear-gradient(-120deg, #e54d55, #fe555e);
}

.sub-heading {
  color: #e54d55;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 3.2rem;
}

.navigation {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.logo-text::first-letter {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -1rem;
}

.logo-text {
  font-size: 3.2rem;
  font-weight: 400;
  cursor: pointer;
}

.logo-text a {
  text-decoration: none;
  color: #212529;
}

.nav-list {
  display: flex;
  gap: 4.2rem;
  list-style: none;
}

.links:link,
.links:visited {
  padding: 1.4rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #212529;
  border-bottom: 4px solid #fff;
  transition: all 0.3s;
}

.links:hover,
.links:active {
  border-bottom: 4px solid #212529;
}

.hero-section {
  height: 90vh;
  display: flex;
  align-items: center;
  background-color: #f1f3f5;
  margin-bottom: 10.8rem;
}

.hero-main-container {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.hero-img {
  display: block;
  width: 35%;
}

.hero-text p {
  font-size: 12.4rem;
  font-weight: 500;
  color: #212529;
}

.word {
  border-bottom: 8px solid #fe555e;
}

.about-section {
  display: flex;
  align-items: center;
  margin-bottom: 10.8rem;
}

.description-img {
  width: 50%;
}
.description-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.skill-text {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

.skill-box {
  display: flex;
  gap: 1.2rem;
}

.box {
  padding: 1rem;
  background: #f1f3f5;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.connect-section {
  margin-bottom: 10.8rem;
}

.connect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-heading-connect {
  color: #fff;
}

.connect-text {
  font-size: 1.8rem;
  color: #ffeeef;
}

.connect-section {
  background-image: linear-gradient(-120deg, #cb444b, #fe666e);
  padding: 5.2rem 0;
}

.footer {
  border-top: solid 1px #dee2e6;
  padding: 10.8rem;
}

.footer .center-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5.8rem;
  align-items: center;
}

.logo-text-bottom::first-letter {
  font-size: 12.4rem;
  font-weight: 700;
  letter-spacing: -2.8rem;
}

.logo-text-bottom {
  font-size: 7.2rem;
  font-weight: 400;
  cursor: pointer;
}

.logo-text-bottom a {
  text-decoration: none;
  color: #212529;
}

.footer-text {
  font-size: 1.4rem;
  font-weight: 400;
}

.email:link,
.email:valid {
  font-size: 1.2rem;
  color: #212529;
}

.footer ul {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
}

.footer-li {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.footer-links:link,
.footer-links:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #212529;
}

.footer-links:hover,
.footer-links:active {
  text-decoration: underline;
}
