// Hero section
.hero-section {
  @extend %flex-center;
  flex-direction: column;
  padding: 8% 0;
  height: 85vh;
}

.hero-img {
  width: 15%;
}

// About section
.about-section {
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-primary-dark-3)
  );
  color: var(--color-primary-light-1);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  padding: var(--ps-2);
}

.tech-icon-box {
  display: flex;
  align-items: center;
  gap: var(--m-1);
}

// Section project
.project-section {
  // padding: var(--ps-1) var(--ps-2) 0;
  padding-bottom: 0;
}

// Section gallery
.gallery-section {
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-primary-dark-3)
  );
  color: var(--color-primary-light-1);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  padding: var(--ps-2);
}
