.hero-section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.heading-primary-box {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  row-gap: 1.4rem;
  justify-items: center;
  align-items: center;

  & div:last-child {
    grid-column: 1 / -1;
  }
}

.highlight {
  background-color: var(--color-primary);
  padding: 0 0.8rem;
  transform: skewX(-15deg);
  animation: hide 0.6s 0.8s backwards;
}

.section-about {
  height: 40vh;
  background-color: var(--color-primary);
  width: 100%;
  color: var(--color-white-1);
  padding: 6.4rem 12.4rem;
}
