.link {
  &:link,
  &:visited {
    @extend %link;
  }

  &:hover,
  &:active {
    color: var(--color-primary);
  }

  &-underline {
    &:link,
    &:visited {
      text-decoration: underline;
    }
  }

  &-main {
    &:link,
    &:visited {
      border-radius: var(--vs-1);
      padding: var(--vs-3) var(--s-2);
      color: var(--color-white-1);
      background-color: var(--color-primary);
      color: var(--color-white-1);
    }

    &:hover,
    &:active {
      box-shadow: 0 0 0 0.2rem var(--color-primary) inset;
      background-color: transparent;
      color: var(--color-primary);
    }
  }

  &-white-bg {
    &:link,
    &:visited {
      border-radius: 0.6rem;
      color: var(--color-white-1) !important;
      border: 0.3rem solid var(--color-white-1) !important;
      padding: 0.8rem 1.8rem;
    }

    &:hover,
    &:active {
      color: var(--color-primary) !important;
      background-color: var(--color-white-1) !important;
    }
  }

  &-white-txt {
    &:link,
    &:visited {
      color: var(--color-white-1);
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
