.link {
  &:link,
  &:visited {
    @extend %link;
  }

  &-main {
    &:link,
    &:visited {
      padding: 1.6rem 2.4rem;
      color: var(--color-white-1);
      background-color: var(--color-primary);
    }
  }
}
