////////////////////////////////
// common animation
////////////////////////////////
@keyframes appear-in {
  0% {
    opacity: 0;
    transform: translateY(var(--b-2));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.appear-in {
  animation: appear-in 0.6s;
}

////////////////////////////////
// Hero section animation
////////////////////////////////

@keyframes opac-in {
  0% {
    // opacity: 0;
    filter: blur(5px);
  }

  100% {
    filter: blur(0);
  }
}
.opac-in {
  animation: opac-in 0.6s;
}

@keyframes move-down {
  0% {
    opacity: 0;
    transform: translateY(var(--b-2));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.move-down {
  animation: move-down 0.4s 0.6s backwards;
}

@keyframes slide-in-bg {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
.slide-in-bg {
  animation: slide-in-bg 1.6s 1s backwards;
}

@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(var(--m-1));
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.move-up {
  animation: move-up 0.6s 2s backwards;
}
