*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  font-family: var(--font-family);
  font-size: 1.6rem;
  color: var(--color-black-3);
  background-color: #fff;
  line-height: 1;
  font-weight: 400;
  scroll-behavior: smooth;
}
