::selection {
  background-color: var(--color-primary-light-1);
  color: var(--color-primary);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 48.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: all 0.3s;

  // 180- and above
  @media (min-width: 112.5em) {
    font-size: 62.5%;
  }
  // 1000px
  @media (max-width: 62.5em) {
    font-size: 37.6%;
  }

  // 600px
  @media (max-width: 37.5em) {
    font-size: 25.6%;
  }
  // 310 px
  @media (max-width: 19.375em) {
    font-size: 24%;
  }
}

body {
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--s-1);
  color: var(--color-black-3);
  background-color: #fff;
  line-height: 1;
  font-weight: 400;
  scroll-behavior: smooth;
  transition: all 0.3s;
}
