.heading-primary {
  font-size: var(--size-big-2);
  font-weight: 400;
}

.heading-secondary {
  font-size: var(--size-big-3);
  font-weight: 400;
}

.heading-tertiary {
  font-size: var(--size-mid-1);
  font-weight: 400;
}

.text-big {
  font-size: var(--size-mid-2);
}

.text-normal {
  font-size: var(--size-sml-1);
}

.text-sml {
  font-size: var(--size-sml-2);
}
