.heading {
  &-primary {
    line-height: 1;
    font-size: var(--vb-2);
    color: transparent;
    background-image: linear-gradient(
      90deg,
      var(--color-primary) 0,
      var(--color-primary) 50%,
      var(--color-primary-light-1) 50%,
      var(--color-primary-light-1) 50.5%,
      transparent 50.5%,
      transparent 100%
    );
    padding: var(--s-3) var(--s-2);
    background-clip: text;
    background-size: 220%;
    background-position: 0;
  }

  &-tertiary {
    font-size: var(--m-3);
    list-style: 1.15;
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: underline;
  }
}

.text {
  color: inherit;

  &-v-big-light {
    font-size: var(--vb-1);
    font-weight: 300;
  }

  &-v-mid-light {
    font-size: var(--b-3);
    font-weight: 300;
  }

  &-mid-light {
    font-size: var(--b-2);
    font-weight: 300;
  }

  &-big {
    font-size: var(--m-3);
  }

  &-mid {
    font-size: var(--m-1);
    line-height: 1.6;
  }

  &-sml {
    font-size: var(--s-3);
    line-height: 1.5;
  }

  &-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--b-2);
    height: var(--b-2);
    text-align: center;
    border-radius: 50%;
    color: var(--color-white-1);
    background-color: var(--color-primary);
  }

  &-primary-light-1 {
    color: var(--color-primary-light-1);
  }
}
