.heading-primary {
  text-align: center;
  display: inline-block;
  font-size: var(--size-big-1);
  font-weight: 400;
  color: inherit;
  letter-spacing: 0.4rem;
  transition: all 0.3s;

  & span {
    display: inline-block;
    padding: 0.3rem 1rem;
    transform: skew(-20deg);
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-light-2),
      var(--color-primary)
    );
  }

  & span:first-child {
    margin-bottom: 0.4rem;

    &::after {
      content: "Tejasva";
      display: inline-block;
      transform: skew(20deg);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      padding: 0.8rem 0.4rem;
    }
  }

  & span:last-child {
    &::after {
      content: "Khandelwal";
      display: inline-block;
      transform: skew(20deg);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      padding: 0.8rem 0.4rem;
    }
  }
}

.heading-secondary {
  font-size: var(--size-big-2);
  font-weight: 400;
  color: inherit;
}

.heading-tertiary {
  font-size: var(--size-big-3);
  font-weight: 400;
}

.text-big {
  font-size: var(--size-mid-1);
  font-weight: 500;
}

.text-normal {
  font-size: var(--size-mid-3);
}

.text-sml {
  font-size: var(--size-sml-2);
}

.text-upper {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
