.margin-bottom-sml-1 {
  margin-bottom: var(--size-sml-1);
}

.margin-bottom-sml-2 {
  margin-bottom: var(--size-sml-2);
}

.margin-bottom-sml-3 {
  margin-bottom: var(--size-sml-3);
}

.margin-bottom-mid-1 {
  margin-bottom: var(--size-mid-1);
}
.margin-bottom-mid-2 {
  margin-bottom: var(--size-mid-2);
}
.margin-bottom-mid-3 {
  margin-bottom: var(--size-mid-3);
}

.margin-bottom-big-1 {
  margin-bottom: var(--size-big-1);
}
.margin-bottom-big-2 {
  margin-bottom: var(--size-big-2);
}
.margin-bottom-big-3 {
  margin-bottom: var(--size-big-3);
}

.flex-center {
  @extend flex-center;
}
