.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.list {
  list-style: none;
}

.margin-bottom {
  &-v-big-3 {
    margin-bottom: var(--vb-3);
  }

  &-v-big-2 {
    margin-bottom: var(--vb-2);
  }

  &-v-big-1 {
    margin-bottom: var(--vb-3);
  }

  &-big-1 {
    margin-bottom: var(--vb-2);
  }

  &-big-2 {
    margin-bottom: var(--vb-1);
  }

  &-big-3 {
    margin-bottom: var(--b-3);
  }
  &-mid-1 {
    margin-bottom: Var(--b-2);
  }
  &-mid-2 {
    margin-bottom: var(--b-1);
  }

  &-mid-3 {
    margin-bottom: var(--m-3);
  }

  &-sml-1 {
    margin-bottom: var(--m-2);
  }

  &-sml-2 {
    margin-bottom: var(--s-3);
  }

  &-sml-3 {
    margin-bottom: var(--s-1);
  }
}

.icon {
  &-big {
    font-size: var(--b-1);
    font-weight: 300;
  }

  &-sml {
    font-size: var(--m-2);
    width: var(--b-1);
    height: var(--b-1);
  }
}

// text color
.color-primary {
  color: var(--color-primary);
}

.icon {
  border-radius: 50%;
  position: relative;
  background-color: var(--color-primary-light-1);

  &-mid-bg {
    width: var(--b-2);
    padding: var(--vs-3);
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--vs-2);
}

.tag {
  display: inline-block;
  padding: var(--vs-1) var(--s-1);
  border-radius: var(--vb-2);
  background-color: var(--color-primary);
  color: var(--color-white-1);
}

.section {
  padding: var(--ps-1) var(--ps-2);
}
