.container {
  max-width: var(--max-width-site);
  margin: 0 auto;
}

.list {
  list-style: none;
}

.margin-bottom {
  &-v-big {
    margin-bottom: 10.2rem;
  }
  &-big {
    margin-bottom: 3.4rem;
  }

  &-big-mid {
    margin-bottom: 3.4rem;
  }

  &-mid {
    margin-bottom: 2.4rem;
  }
}

.icon {
  &-big {
    font-size: 5.4rem;
    font-weight: 300;
  }
}
