.footer {
  padding: var(--vb-3) var(--b-2) var(--b-1);
  background-color: var(--color-primary);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  color: var(--color-primary-light-1);

  &-container {
    @extend %flex-center;
    flex-direction: column;
  }

  &-nav {
    @extend %flex-center;
  }

  &-img {
    width: var(--ps-1);
    height: var(--ps-1);
    padding: var(--vs-3);
  }

  &-nav-list {
    @extend %list;
    @extend %flex-center;
    gap: var(--vs-3);
    line-break: auto;
  }

  &-copyright {
    @extend %flex-center;
    // 325 px
    @media (max-width: 20.3125em) {
      flex-direction: column;
      gap: 0.05rem !important;
    }
  }
}
