.header {
  width: 100vw;
  padding: var(--s-1) var(--b-2);
  height: fit-content;
  position: relative;
  background-color: var(--color-white-1);
  transition: all 0.4s;

  &-sticky {
    transition: all 0.4s;
    z-index: 99;
    position: fixed;
    top: 0;
  }
}

.nav {
  // container
  &-container {
    @extend %flex-center;
    justify-content: space-between;
  }

  // nav logo
  &-logo-box {
    display: flex !important;
    // (because link is set to inline-block therefore !important is being used)
    align-items: center;
    gap: var(--vs-2);
  }

  &-logo-img {
    width: var(--b-3);
  }

  // main nav
  &-list {
    @extend %flex-center;
    // font-size: var(--s-2);
    gap: var(--m-3);
    transition: all 0.3s;
  }

  &-btn {
    background: none;
    border: none;
    // display: flex;
    // Initially it should not display
    display: none;
    flex-direction: column;
    gap: var(--vs-1);
    z-index: 1;

    &-line {
      width: var(--m-2);
      height: var(--vs-1);
      background-color: var(--color-black-1);
      border-radius: var(--b-1);
      transition: all 0.4s;
    }
  }

  // nav working class
  &-open {
    & > .nav-list {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translate(0, 0);
    }

    & > .nav-btn > .nav-btn-line {
      &:nth-child(2) {
        display: none;
      }

      &:first-child {
        transform: translateY(var(--vs-1)) rotate(-135deg);
      }

      &:last-child {
        transform: translateY(calc(-1 * var(--vs-1))) rotate(135deg);
      }
    }
  }

  // 800px
  @media (max-width: 50em) {
    &-list {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      height: 100vh;
      width: 40vw;
      flex-direction: column;
      backdrop-filter: blur(2.5rem);
      background-color: rgba(var(--color-white-1), 0.05);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      // color: var(--color-white-1);
      font-size: var(--m-1);
      transform: translate(100%, 0);
    }

    &-btn {
      display: flex;
      z-index: 9999;
    }
  }

  // 400px
  @media (max-width: 25em) {
    &-list {
      width: 55vw;
    }
  }
}
