.nav {
  width: 100vw;
  padding: 4.2rem 6.4rem;
  height: 15vh;

  // container
  &-container {
    @extend %flex-center;
    justify-content: space-between;
  }

  // nav logo
  &-logo-box {
    display: flex !important;
    // (because link is set to inline-block therefore !important is being used)
    align-items: center;
    gap: 0.8rem;
  }

  &-logo-img {
    width: 8rem;
  }

  // main nav
  &-list {
    @extend %flex-center;
    gap: 4.2rem;
  }
}
