.about-section {
  padding: var(--ps-1) var(--ps-2);
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-primary-dark-3)
  );
  color: var(--color-primary-light-1);
}

.tech-icon-box {
  display: flex;
  align-items: center;
  gap: var(--m-1);
}
