.slider {
  display: grid;
  grid-template-columns: repeat(var(--slider-size), 100%);
  position: relative;

  &-box {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: var(--m-1);
    row-gap: var(--s-3);
    transition: 1s all;
    padding: var(--s-3) var(--vb-1);

    &-description {
      grid-column: 1 / -1;
    }

    &-link {
      font-size: var(--s-3);
      grid-column: 1 / 1;
    }

    &-tech-stack {
      display: flex;
      align-items: center;
      gap: var(--s-1);
      grid-column: 1 / 1;
      @media (max-width: 18.75em) {
        & p:first-child {
          display: none;
        }
      }
    }

    // 500PX
    @media (max-width: 31.25em) {
      grid-template-columns: 1fr;
    }
  }

  &-btn {
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;

    &--left {
      left: 0;
      transform: translate(0, -50%);
    }

    &--right {
      right: 0;
      transform: translate(0, -50%);
    }
  }
}
