%list {
  list-style: none;
}

%link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
