:root {
  // Colors
  --color-black: #212529;
  --color-black-light-1: #495057;
  --color-black-light-2: #dee2e6;

  --color-white: #fff;

  --color-primary-light: #ffeeef;
  --color-primary-light-2: #ffaaaf;
  --color-primary-light-3: #fe999e;
  --color-primary: #fe555e;
  --color-priamry-dark: #e54d55;
}
