:root {
  // MAX WIDTH OF THE SITE
  --max-width: 180rem;

  // PRIMARY COLOR
  --color-primary: #e52a5a;

  --color-primary-light-1: #fad4de;
  --color-primary-light-2: #ef7f9c;
  --color-primary-light-3: #ed6a8c;

  --color-primary-dark-1: #2e0812;
  --color-primary-dark-2: #a01d3f;
  --color-primary-dark-3: #ce2651;

  // COLOR BLACK
  --color-black-1: #0a0a0a;
  --color-black-2: #171717;
  --color-black-3: #262626;

  // COLOR WHITE
  --color-white-1: #fff;
  --color-white-2: #d4d4d4;
  --color-white-3: #a8a29e;

  // FONT FAMILY
  --font-family: "M PLUS 1 Code", monospace;
}
