:root {
  // MAX WIDTH OF THE SITE
  --max-width: 180rem;

  // PRIMARY COLOR
  --color-primary: #e52a5a;

  --color-primary-light-1: #fad4de;
  --color-primary-light-2: #ef7f9c;
  --color-primary-light-3: #ed6a8c;

  --color-primary-dark-1: #2e0812;
  --color-primary-dark-2: #a01d3f;
  --color-primary-dark-3: #ce2651;

  // COLOR BLACK
  --color-black-1: #0a0a0a;
  --color-black-2: #171717;
  --color-black-3: #262626;

  // COLOR WHITE
  --color-white-1: #fff;
  --color-white-2: #d4d4d4;
  --color-white-3: #a8a29e;

  // FONT FAMILY
  --font-family: "M PLUS 1 Code", monospace;

  // Sizes
  --vs-1: 0.4rem;
  --vs-2: 0.8rem;
  --vs-3: 1.2rem;

  --s-1: 1.6rem;
  --s-2: 2rem;
  --s-3: 2.4rem;

  --m-1: 3.2rem;
  --m-2: 3.8rem;
  --m-3: 4.6rem;

  --b-1: 5.2rem;
  --b-2: 6.4rem;
  --b-3: 7.8rem;

  --vb-1: 9.2rem;
  --vb-2: 10.4rem;
  --vb-3: 12.8rem;

  --ps-1: 12.4rem;
  --ps-2: 16.4rem;
}
