:root {
  // PRIMARY COLOR
  --color-primary: ;

  --color-primary-light-1: ;
  --color-primary-light-2: ;
  --color-primary-light-3: ;

  --color-primary-dark-1: ;
  --color-primary-dark-2: ;
  --color-primary-dark-3: ;

  // COLOR BLACK
  --color-black-1: #0a0a0a;
  --color-black-2: #171717;
  --color-black-3: #262626;

  // COLOR WHITE
  --color-white-1: #fafafa;
  --color-white-2: #d4d4d4;
  --color-white-3: #a8a29e;

  // FONT FAMILY
  --font-family: ;

  // SIZE
  --size-big-1: ;
  --size-big-2: ;
  --size-big-3: ;

  --size-mid-1: ;
  --size-mid-2: ;
  --size-mid-3: ;

  --size-sml-1: ;
  --size-sml-2: ;
  --size-sml-3: ;

  // SHADOW
  --shadow-light-1: 100px #e8e8e8, 13px -13px 100px #ffffff;
  --shadow-light-2: 100px #b5b5b5, 13px -13px 100px #ffffff;
  --shadow-light-3: 77px #7d7d7d, 18px -18px 77px #ffffff;
}
