@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-white-primary: #faf7f2;
  --color-white-secondary: #d4d4d4;
  --color-white-tertiary: #b3b3b3;

  --color-black-primary: #0f0f0f;
  --color-black-secondary: #1f1f1f;
  --color-black-tertiary: #2e2e2e;

  --color-primary-dark: #514fb0;
  --color-primary: #704ee7;
  --color-primary-light: #c4b0f8;

  --color-secondary: #ffd35f;

  --color-tertiary: #95d5b2;

  --color-memorymap: #db2b61;
  --color-trackify: #ff9b23;
  --color-tinysiege: #d66565;
  --color-rozgardhundo: #3b82f6;

  --default-font-family: "Satoshi", sans-serif;
  --font-elegant: "Stardom", sans-serif;
}

.grid-background {
  background-color: var(--color-white-primary);
  opacity: 0.1;
  background-image:
    linear-gradient(var(--color-black-tertiary) 0.4px, transparent 0.4px),
    linear-gradient(
      to right,
      var(--color-black-tertiary) 0.4px,
      var(--color-white-primary) 0.4px
    );
  background-size: 8px 8px;
  z-index: -1;
}
